body {
	background-color: #EEFFFF;
}

#page {
	margin: 30px auto;
	padding: 20px;
	background-color: #F7FFFF;
	text-align: center;
	box-shadow: 3px 5px 20px #AAAAAA;
}

#title {
	margin: 10px auto;
	color: #555577;
}

#input {
	width: 100%;
	max-width: 100%;
	font-size: 1.2em;
	height: 16em;
	margin: 20px auto;

}

.input {
	margin: 10px 0px;
	color: #FF3333;
	background-color: #FFF0F0;
	font-weight: bold;
}

.output {
	margin: 0px 0px 30px 0px;
	color: #000000;
	background-color: #FCFCFF;
	font-weight: normal;
}

.plot {
	color: #3377BB;
}

.button {
	width: auto;
	margin: 15px auto 10px auto;
	text-align: center;
	border-radius: 5px;
	background-color: #66CC55;
	cursor: pointer;
	transition: all 0.2s ease;
	font-weight: bold;
	color: #225533;
	box-shadow: 2px 2px 10px #AAAAAA;
}

.button:hover {
	color: #FFFFFF;
	background-color: #44AAFF;
}

.button:active {
	background-color: #50B0FF;
}

.button * {
	padding: 15px;
	margin: 0px auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
}
